// Jade file to specify the game information for a specific game 
// Inherits from layout
extend layout

var result1,result2,result3,result4,result5;
block navbarcontent
  table
    tbody
      tr
        td(height="17")
      tr
        td(width='200')
          +nav_item("/") Hompage 
        td(width='45')
        td(width='200')
          +nav_item("/login") Login  
        td(width='45')
        td(width='200')
          +nav_item("/question") Q & A
block content
  p   
      table
        tbody
          tr
            if(result5.length > 0)
              audio(autoplay='autoplay', controls='controls', src=result5[0].Reference, loop='loop')
                source(src='http://195.122.253.112/public/mp3/Radiohead/Radiohead%20\'Airbag\'.mp3', type='audio/ogg')
                source(src='http://195.122.253.112/public/mp3/Radiohead/Radiohead%20\'Airbag\'.mp3', type='audio/mpeg')
                source(src='http://195.122.253.112/public/mp3/Radiohead/Radiohead%20\'Airbag\'.mp3', type='audio/mp3')
                |       Your browser does not support the audio tag. 
          tr
            td(width='2000')
              h3
                |#{result2[0].year}, #{result2[0].city}, #{result2[0].country}
          if(result2[0].year==1916)
            tr
              h3
                |Not Held Due To World War I
          if(result2[0].year==1940)
            tr
              h3
                |Not Held Due To World War II
          if(result2[0].year==1944)
            tr
              h3
                |Not Held Due To World War II
          tr(height='30')
          if(result1[0])
            tr
              td
                h4
                  |Mascot:
            tr
              table
                tr
                  td(width='200')
                    h5
                      |Image:
                  td(width='30')
                  td(width='150')
                    h5
                      |  Name:
                  td(width='30')
                  td(width='100')
                    h5
                      |  Designer(s):
                  td(width='30')
                  td(width='150')
                    h5
                      |  Character(s):
                  td(width='30')
                  td(width='600')
                    h5
                      |  Significance:
                  td(width='30')
                  td(width='500')
                    h5
                      |rating:
                tr
                  td(width='200')
                    img(src=result1[0].Reference, alt=result1[0].Roles, width='200', height='250')
                  td(width='30')
                  td(width='150')=result1[0].Name
                  td(width='30')
                  td(width='100')=result1[0].Designer
                  td(width='30')
                  td(width='150')=result1[0].Roles
                  td(width='30')
                  td(width='600')=result1[0].Significance
                  td(width='30')
                  td(width='500')=result1[0].Rating
                tr(height='30')
          
          if(result5.length > 0)
            tr
              td
                h4
                  | Theme Song:
            tr
              table
                tr
                  td(width='200')
                    h5
                      |Name
                  td(width='30')
                  td(width='300')
                    h5
                      |Singer
                  td(width='30')
                  td(width='300')
                    h5
                      |Composer
                tr
                  td(width='200')=result5[0].name
                  td(width='30')
                  td(width='300')=result5[0].singer
                  td(width='30')
                  td(width='300')=result5[0].composer
          if(result3.length>0)
            tr
              td
                h4
                  |Stadiums:
            tr
              table
                - for (var i=0; i < result3.length; i++)
                  tr
                    td(width='300')
                      img(src=result3[i].Reference, alt="The Image not found", width='300', height='200')
                    td(width='25')
                    td(width='240')=result3[i].Venue
                    td(width='25')
                    td(width='300')=result3[i].Events
                  tr(height='30')
          if(result4.length>0)
            tr
              td
                h4
                  |Medal List:
            tr
              table
                tbody
                  tr
                    td(width='200')
                      h5
                        |Country
                    td(width='15')
                    td(width='100')
                      h5
                        |Gold
                    td(width='15')
                    td(width='100')
                      h5
                        |Silver
                    td(width='15')
                    td(width='100')
                      h5
                        |Bronze
                    td(width='15')
                    td(width='100')
                      h5
                        |Total

                - for (var i=0; i < result4.length; i++)
                  tr
                   td=result4[i].country
                    td 
                      &nbsp
                    td=result4[i].gold
                    td 
                      &nbsp
                    td=result4[i].silver
                    td 
                      &nbsp
                    td=result4[i].bronze
                    td 
                      &nbsp
                    td=result4[i].medal
